@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "Master.cshtml";

	var nestedCardContent = Model.Value<IEnumerable<IPublishedElement>>("nestedCards");

}

@* the fun starts here *@
<div class="row">
	<div class="col-12">
		@if (Umbraco.MemberIsLoggedOn())
		{
			<div class="row">
				<h1>@Model.Value("homepageTitle")</h1>
			</div>
			<div class="row mt-3">
				<p>@Model.Value("subTitle")</p>
			</div>

			<div class="row mt-5">
				@foreach (var nestedCard in nestedCardContent)
				{
					var cardTitle = nestedCard.Value("cardTitle");
					var cardText = nestedCard.Value("cardText");
					var cardLinkToPage = nestedCard.Value<Link>("cardLinkToPage");
					var cardImage = nestedCard.Value<IPublishedContent>("cardImage");
					<div class="col-sm-6">
						<a href="@cardLinkToPage.Url" class="card-link">
							<div class="card">
								<img src="@cardImage.Url()" alt="@cardImage.Name" class="card-img-top">
								<div class="card-body">
									<h4 class="card-title">@cardTitle</h4>
									<p class="card-text">@cardText</p>
								</div>
							</div>
						</a>
					</div>
				}
			</div>

		}
		else
		{
			<h1>Please Login to Continue</h1>
			Html.RenderAction("RenderLogin", "Member");

		}
	</div>
</div>

